# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

jobs:
  lint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - run: swiftlint lint
      - store_artifacts:
          path: result.json
      - store_test_results:
          path: result.json
  test:
    macos:
      xcode: 11.3.1
    steps:
      - checkout
      - run: swift build
      - run: swift test
      - store_test_results:
          path: test_output
      - store_artifacts:
          path: test_output
          destination: scan-output

workflows:
  build-test:
    jobs:
      - lint
      - test
